div {box-sizing: border-box;}


body {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
}

#header {
    position: static;
    display: block;
    height: 5em;
    text-align: center;
}

#content {
    position: absolute;
    display: block;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    padding-top: 5em;
    margin: 0;
}

#content>div{
    display: block;
    float: left;
    width: 50%;
    margin: 0;
    padding: 0;    
}

#chart {
    text-align: center;
}

#chart>h2{
    text-align: center;
    display: block;
    bottom: 2em;
}